body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}

main {
    text-align: center;
    padding: 24px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #1f5af6;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    transition: .3s;
    min-width: 50px;
    padding: 12px;
    text-align: center;
}

.btn:hover:not(.disabled) {
    opacity: 0.7;
}

.btn.disabled {
    background-color: #e9e9eb;
}

.btn-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 12px;
}

.btn-group .btn {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card header {
    background: #f8f9fb;
    padding: 6px;
}

.card .content {
    flex: 1 1 auto;
    word-break: break-word;
}
